body {
  margin: auto;
}

div {
  padding: 5%;
}

header_title {
  text-align: center;
  font-weight: bold;
}

#header {

}
#steam {
  background-color: #183e59;
  height: 100px;
  color: #fff;
}

#aliexpress {
  background-color: #ff5400;
  height: 100px;
  color: #fff;
}

#hobbyworld {
  background-color: #fca10b;
  height: 100px;
  color: #000;
}

#footer {
  background-color: #000;
  text-align: center;
}

#footer a {
  text-decoration: none;
  color: aquamarine;
}
