header, nav, footer {
  display: block;
  width: 100%;
}
body {
  margin: auto;
  background-color: #101010;
  color: #b8b8b8;
  width: 100%;
  max-width: 900px;
  padding-left: 2%;
  padding-right: 2%;
}

a {
  text-decoration: none;
  color: #b8b8b8;
  font-size: 1.5em;
}
a:hover {
  text-decoration: none;
  text-decoration: underline;
  color: #ffffff;
}

header {
  text-align: center;
  font-size: 2em;
}

nav a {
  font-weight: bold;
  font-size: 2em;
  padding: 5%;
  font-style: normal;
}

article {
  padding-left: 2%;
  padding-right: 2%;
}

footer {
  text-align: center;
  border-top: 2px solid #b8b8b8;
  border-bottom: 2px solid #b8b8b8;
  margin-bottom: 10px;
}

footer img {
  padding: 10px;
  width: 100%;
  max-width: 64px;
}

li {
  list-style-type: none;
  margin-bottom: 30px;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

p {
  font-size: 1.4em;
}

.razdel {
  font-size: 2em;
}

.welcome a {
  text-decoration: underline;
}

.checked {
  padding-right: 3%;
  color: #8bc34a;
}

.unchecked {
  padding-right: 3%;
  color: white;
}

.logo {
  padding-top: 10%;
  text-align: center;
}
.logo img {
  height: 128px;
}

.price {
    color: #80c5d6;
    margin-left: 2%;
    text-decoration-color: aquamarine;
    font-weight: bold;
    font-family: sans-serif;
}

li{
  padding-top: 10px;
}

.ricardo img {
  width: 450px; 
}
@media (min-width: 500px ) and (max-device-width: 700px) {

  a{
    font-size: 4em;
  }
  .price {
      font-size: 4em;
  }
  .checked {
    font-size: 4em;
  }

  .unchecked {
    font-size: 4em;
  }

  .keked {
    font-size: 1em;
  }

  li{
    margin-bottom: 5%;
  }

  h2 {
    font-size: 3.4em;
  }

  p {
    font-size: 3em;
  }

  .logo img {
    height: 200px;
  }

  .ricardo img {
    width: -webkit-fill-available;
  }
}
