.checked {
  padding-right:10px;
  color: #8bc34a;
}

.unchecked {
  padding-right:10px;
  color: white;
}

.logo {
  padding-top: 10%;
  text-align: center;
}
.logo img {
  height: 64px;
}

.price {
    color: #80c5d6;
    margin-left: 2%;
    text-decoration-color: aquamarine;
    font-weight: bold;
    font-family: sans-serif;
}

li{
  padding-top: 10px;
}
